body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background: #fff;
}

#explore {
  color: #fe424d !important;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.search-btn {
  background-color: #fe424d !important;
  color: #fff !important;
  border-radius: 25px;
  padding: 0 1rem 0;
}

.search-btn:hover {
  background-color: #ed3f4b !important;
  color: #eee;
}

.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-inp {
  padding: 0.5rem 3rem;
}

.show-profile {
  border: 1px solid silver;
  padding: 5px 10px;
  width: 85px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

.profile-btn {
  border: none;
  background: transparent;
  margin-left: 5px;
}

.profile-btn i {
  font-size: 15px;
}

.profile-img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

#glob:hover {
  border-radius: 50%;
  background: #eee;
}

#airbnb:hover {
  background: #eee;
}

.login-menu {
  padding: 15px 0;
  display: flex;
  line-height: 2.5rem !important;
  font-size: 0.9rem !important;
  flex-direction: column;
  width: 250px;
  height: auto;
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  position: fixed;
  right: 0;
  margin-right: 20px;
  top: 85px;
  z-index: 100;
  opacity: 0;
  display: none;
}

.show {
  display: flex;
  opacity: 1;
}

.login-menu a {
  text-decoration: none;
  color: #222222;
  cursor: pointer;
}

.login-menu a:hover {
  background-color: #e8e7e7;
}

/* account page */
#go-to-profile {
  color: #000;
}

.account-cards {
  width: 320px !important;
  height: auto;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}

.account-cards i {
  font-size: 1.8rem;
}

.account-cards p,
.account-cards a {
  font-size: 0.9rem;
}

.account-cards a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.account-cards p {
  color: #757272 !important;
}

.del-acc {
  line-height: 0.5;
}

.del-acc p {
  font-style: 0.8rem;
}

.del-acc a {
  color: #000;
  font-size: 0.8rem;
  cursor: pointer;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links:hover {
  text-decoration: underline;
}

.f-info-links {
  width: 100%;
}

.f-info-socials {
  width: 100%;
  font-size: 1.2rem;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin: 0 0.5rem;
}

.f-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8rem;
  background: #ebebeb;
  flex-wrap: wrap;
}

/* Cards */
.card {
  border: none !important;
}

.card-img-top {
  width: 350px !important;
  object-fit: cover !important;
  height: 350px !important;
  border-radius: 15px !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background: #fff;
}

.review-card {
  max-width: 25rem;
}

/* Edit page */
.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  color: #fff !important;
}

.add-btn:hover,
.edit-btn:hover {
  background-color: #f45e68 !important;
}

/* Show page */
.show-img {
  height: 30vh;
}

.card-show-img {
  max-width: 700px !important;
  max-height: 400px;
}

.row .btns {
  display: flex;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 8px;
}

.review-card {
  box-shadow: 2px 2px 10px #ece8e8 !important;
  padding: 5px;
}

#map {
  width: 100% !important;
  max-width: 600px !important;
  height: 400px;
}

.all-filters {
  display: flex;
  justify-content: space-between;
}

.sliderbar {
  overflow-x: hidden; /* Ensure no overflow on the parent container */
  position: relative; /* Position relative to the child elements (buttons and filters) */
}

.slide-container {
  width: 100%;
  max-width: 80vp; /* Allow full width on mobile */
  box-sizing: border-box;
  position: relative; /* Ensure positioning context for the buttons */
}
.slide-content {
  overflow: hidden;
}

.filter > a {
  text-decoration: none !important;
  color: black;
  opacity: 0.6;
}

.filter > a:hover {
  color: black;
  opacity: 1;
}

.filter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.swiper-navBtn {
  color: rgb(147, 146, 146);
  transition: color 0.3s ease;
  z-index: 100;
  border: 1px solid silver;
  border-radius: 50%; /* Ensure the buttons are circular */
  padding: 15px;
  box-shadow: 0 0 20px 20px #eee;
  background-color: #fff;
  margin: 0 20px;
}

.swiper-navBtn:hover {
  color: rgb(44, 43, 43);
  border-radius: 50%; /* Keep the button circular */
  box-shadow: 0 0 20px 20px #e8e5e5; /* Circular box-shadow */
  opacity: 1;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: rgb(147, 146, 146);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: rgb(44, 43, 43);
}

.swiper-navBtn {
  --swiper-navigation-size: 15px;
  --swiper-navigation-color: rgb(147, 146, 146);
}

.swiper-pagination-bullet {
  --swiper-pagination-color: rgb(147, 146, 146);
}

.tax-toggle {
  padding: 10px 5px;
  border: 2px solid rgb(147, 146, 146);
  width: 55%;
  height: auto;
  margin: 50px 40px 30px 40px;
  border-radius: 10px;
}

.tax-info {
  display: none;
}

/* login page */
.login-btn {
  background-color: #fe424d !important;
  color: #fff !important;
}

.login-btn:hover {
  background-color: #ed3f4b !important;
}

.login-with-google-btn {
  color: #222222 !important;
  border: 1px solid #222222 !important;
}

.login-with-google-btn:hover {
  background-color: #eee !important;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }

  .slide-container {
    width: 100%;
    max-width: 100%;
  }

  .all-filters {
    flex-direction: column;
  }

  .tax-toggle {
    width: 50%;
  }

  .review-card {
    max-width: 20rem;
  }
}
