<% layout("./layouts/boilerplate") %>

<div class="row mt-3">
  <h1 class="col-6 offset-3">Login</h1>
  <div class="col-6 offset-3">
    <form class="needs-validation" action="/login" method="POST" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          class="form-control"
          id="username"
          required
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          required
        />
      </div>
      <button class="btn login-btn mb-3 form-control">Login</button><br />
      <p class="text-center"><b>or</b></p>
      <a href="/auth/google" class="btn login-with-google-btn mb-3 form-control"
        >Login with Google</a
      >
    </form>
  </div>
</div>
